* {
    margin: 0px;
}


ul {
    margin: 0px;
    padding: 0;
}

nav {
    width: auto;
    height: auto;
    background-color: rgb(0, 0, 0);
    position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	border-bottom:1px solid rgba(200,200,200,0.5);
	z-index:5;
}




ul li {
    list-style: none;
    display: inline-block;
    line-height: 50px;
}

ul li a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color:rgb(255, 255, 255);
    padding: 0 10px;
    transition:0.5s;
}

ul li a:hover {
    letter-spacing: 5px;
	color:rgb(255, 255, 255);

    border-bottom:2px solid rgb(255, 255, 255);
    background-color: rgb(77, 76, 76);
}


body {
    background-color: rgb(31, 30, 30);
    width: auto;
    height: auto;
    padding-bottom: 302px;   
    display: flex;
    flex-direction: column;
}

.head {
    width:auto;
    height:auto;
    background: rgb(0, 0, 0);            
    
    border-top:1px solid rgba(0, 0, 0, 0.5);
   
}    
    
.head .head-text {
    font-family: sans-serif;
    text-align: left;
    margin-top: 10px;
    font-size: 50px;
    padding-left: 10px;
    color: white;
    text-align: right;
    padding-right: 10px;
} 

.nav ul li a {
    text-align: center;
}   

.main-h1 {
    font-family: sans-serif;
    font-size: 50px;
}

.main-border {
    border:1px solid rgba(200,200,200,0.5);
    background:rgba(65, 61, 61, 0.527); 
    height: 300px;
    width: 98.7%;
    border-radius: 30px;
}

.main-border p {
    font-family: sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}

main h2 {
    border-radius: 30px;
    align-content: center;
}

.h4-des {
    width: 98.6%;
    height: 1cm;
    background-color: rgba(107, 105, 105, 0.596) ;
}

.h4-des p {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

.head-p {
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 30px;
    padding-top: -50px;
}

.footer-BG {
    background-color: rgba(97, 95, 95, 0.616);
    width: 98.6%;
    height: 30px;
}

.footer-BG p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 5px;
}

#active {
    color:rgb(255, 255, 255);
    border-top:2px solid rgb(255, 255, 255);
    border-bottom:2px solid rgb(255, 255, 255);
    border-left:2px solid rgb(255, 255, 255);
    border-right:2px solid rgb(255, 255, 255);
}

.main-text {
    position: relative;
    top: 150px;
}

.main-text h1 {
    position: absolute;
    left: 300px;
    font-size: 100px;
    font-family: 'Oswald', sans-serif;
}

.main-text p {
    position: absolute;
    top: 120px;
    left: 300px;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

.main-img {
    position: absolute;
    top: 300px;
    left: 400px;
}

.main-img img {
    position: absolute; 
    padding-left: 1000;
    left: 10000;
    width: 788;
    height: 334;
}

.aboutUs-Info {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 200px;
    left: 100px;
    background-color: rgba(128, 128, 128, 0.644);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.aboutUs-Info h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.aboutUs-Info p {
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 30px;
}